body {
  width: 600px;
  min-height: 500px;
  text-align: center;
}

/*Custom 'bootstrap' color*/
.bg-secondary-dark {
  background: #43484e;
  color:white;
}

.bg-secondary-light {
  background: #e6ecf1;
  color: black;
}
